
ul.factsKuenstler{
    padding: 0 25px;
}
ul.factsKuenstler li > span { 
    font-weight: bold;
}
ul.factsKuenstler li:nth-child(2n) {
    padding-bottom: 8px;
    border-bottom: 1px solid #333;
    margin-bottom: 8px;
}





h1, h2, h3, h4, h5{
    margin: 40px 15px 40px 15px;
    text-align: center;
    color:#aaa;
}
figure{
    padding:0;
    margin: 0;
}

.content-kunstw div{
    margin-bottom: 40px;
}
.label-header span{
    font-weight: bold;
}
.label-name{
    color:#aaa;
}
.isIn, .isOut{
    float: right;
}
.isIn{
    color:#00ff00;
}
.isOut{
    color:red;
}




/* Impressum */

.tableImpress{
    margin: 20px 0 0 0;
}
.tableImpress thead{
    background-color: #fff;
    color:#000;
}
.tableImpress tbody tr td:first-child{
    font-weight: bold;
    padding-right: 14px;
}

#gkarte{
    height: 400px;
background: url(../img/layout/maps.png) repeat center #fff;
}

.img-pferd{
    background-image: url(../img/layout/pferd.jpg);
    min-height: 300px;
    background-size: cover;
    
}





/* index Header */
#hero-slide{
    position: relative;
}
#hero-slide div{
    margin: 0;
    padding: 0;
    position: absolute;
}
#hero-slide .heroA{
    font-size: 2em;
    bottom: 5.5em;
    left: 3.5em;
    width: 200px;
    height: 84px;
    background:#000;
    color:#fff;
    text-align: center;
    z-index: 9;
}
#hero-slide .heroB{
    font-size:0.7em;
    bottom: 1em;
    right: 1em;
    text-align: center;
    z-index: 9;
}
#hero-slide div span{
    font-weight: bold;
    text-transform: uppercase;
}






/* Header Sprechblase*/

#hero-slide .heroA:after, 
#hero-slide .heroA:before{
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
/*	pointer-events: none;*/
}

#hero-slide .heroA:after{
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #000;
	border-width: 30px;
	margin-top: -30px;
}
#hero-slide .heroA:before{
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 36px;
	margin-top: -36px;
}

@media only screen and (min-width: 1200px){
    #hero-slide p:last-child{
        max-width: 100%;
        text-align: right;
    }
}








/* Das Kontaktformular */

form.regularForm{
    width: 370px;
    padding: 20px;
    width: 100%;
}
form.regularForm div.input label{
  display: block;
}

form.regularForm div.input input,
form.regularForm div.input textarea,
form.regularForm div.fieldBox select{
    font-family: verdana, sans-serif;
    font-size: 100%;
    width:100%;
    margin-bottom: 1em;
    border:0;
    min-height: 2.5em;
    font-size: 1em;
    font-weight: bold;
    padding: 0.4em 0.4em;
    background-color: #eee;
    border-bottom: 1px solid #eee;
}
form.regularForm div.textarea{
    height: 10em;
}
form.regularForm div.input input:focus,
form.regularForm div.input input:hover,
form.regularForm div.input textarea:hover,
form.regularForm div.input textarea:focus{
    background-color: #fff;
    border:0;
    border-bottom: 1px solid #aaa;
}

#gkarte iframe{
    height: 400px;
    width: 100%;
}
form.regularForm div.buttonrow input.submitAbDamit{
    background: #eee;
    color: #000;
    border: 1px solid #aaa;
    border-radius: 5px; 
    cursor: pointer;
    width: 100%;
    padding: 5px 10px;
}
form.regularForm div.buttonrow input.submitAbDamit:hover{
    background: #17c300;
    color: #000;
    border: 1px solid #000;
}







/* Tabellen Kontakt */

#tableKontakt table{
    border-collapse: collapse;
    width: 100%;
    padding: 10px 15px 0 15px;
}
#tableKontakt table tbody tr td {
 padding: 7px;
}
#tableKontakt table thead tr th{
    background: #fff;
    color:#000;
    height: 30px;
}
#tableKontakt table tbody tr td:last-child{
    padding-left:10px;

    color:#aaa;
}
#tableKontakt table tbody tr td:first-child{
    width: 120px;
    /*text-align: right;*/
    font-weight: bold;
    background: #eee;
    color:#aaa
}
#tableKontakt table, 
#tableKontakt table thead tr th, 
#tableKontakt table tbody tr  {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
#tableKontakt{
    /*leer*/
}





/* Table Responsive */


#respoTable{
    box-sizing:border-box;
}
table#respoTable{
    width:100%;
}

#respoTable tbody tr, 
#respoTable tbody tr td,
#respoTable thead tr,
#respoTable thead tr th {
    border:2px solid black;
    border-collapse: collapse;
    text-align: center;
}
#respoTable tbody tr, 
#respoTable tbody tr td,
#respoTable thead tr,
#respoTable thead tr th {
    padding:1em;
}
#respoTable thead tr th {
    border-bottom: 3px solid #fff;
    font-weight: bold;
}
@media screen and (max-width:700px) {
	
    table#respoTable, tr, td {
        padding:0;
        border:1px solid black;
    }
    table#respoTable {
        border:none;
    }

    #respoTable thead {
        display:none;
    }

    #respoTable thead tr,
    #respoTable tbody tr{
        float: left;
        width: 100%;
        margin-bottom: 2em;
    }

    #respoTable thead tr th,
    #respoTable tbody tr td{
        float: left;
        width: 100%;
        padding:1em;
    }

    #respoTable tbody tr td::before{
        content:attr(data-label);
        word-wrap: break-word;
        background: #eee;
        border-right:2px solid black;
        width: 20%;
        float:left;
        padding:1em;
        font-weight: bold;
        margin:-1em 1em -1em -1em;
    }
}




/* kunstwerke */

#outputStilrichtung span{
    float: right;
}