html, body{
    margin: 0; 
    padding: 0;
}
html{
    font-family: Arial, Verdana, sans-serif;
    background-color: black;
}
#page{
    margin:0 auto;
    width: 800px;
}
div#head{
    text-align:center;
    margin-bottom: 5px;
}
div#head, div#main, div#footer{
    margin: 1em 0;
    background-color: white;
    padding: 1em;
}
div#main{
    /* leer */
}
div#footer{
    text-align: center;
}
div#main form{
    background: #aaa;
    padding: 10px;
}
div.input{
    position: relative;
    height: 1.5em;
}
div.input input{
    position: absolute;
    top: 0;
    left: 7em;
}
div.radiobuttongroup label {
    padding-left: 2.5em;
}
div.buttonrow input {
	padding: 5px 10px;
        cursor: pointer;
}
.img{
    float: left;
    padding: 0 10px 5px 0;
}
.debugArr{
    color:#CFFF61;
    padding: 20px;
}
.errString{
    color:red;
}